<h1>Bienvenidos al chat</h1>
<div>
    <div>
    <input id="chat-box" type="text">
    <button id="botonChat">Enviar</button>
    </div>
    <div>
     <p id="parrafosMensajes"></p>   
    </div>
 
</div>