
<div class="form-container">
    <form id="login" class="form" action="">
<div class="card-body mb-3">
    <h1 class="card-title">Iniciar Sesion</h1>
    <div class="mb-3">
        <div class="col">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
        <div class="col">
        <input type="text" class="form-control" placeholder="Age" aria-label="Age"> 
    </div>
    <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
     <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</labe>
    </div>
</div>
    <button id="botonChat" type="button" class="btn btn-primary">Login</button>
    </div>
    </form>
</div>