body {
    background-color: #ffff;
}
h1{ 
    text-align: center;
    font-size: 2rem;
    margin: 1em;
}

.form-container { 
    width: 100%;
    height: auto;
    background-color: #78ab96;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.form-container > .form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    font-size: 1rem;
    padding: 10px;
}