* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box; 
}
.container-products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.container-products > .product {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    margin: 1em;
    padding: 1em;
    height: 100%;
    width: 100%;

    padding: 5px;
}   

.container-products > .product > .btn-delete {
    margin-top: 5px;
    background-color: #ffff;
    color: red;
    border: #0000;
    width: 100%;
}